<!--The content below is only a placeholder and can be replaced.-->

<!-- <head>
    <title>Future Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
    <div style="text-align:center">
        <h1 class="header">
          Welcome to {{ title }}!
        </h1>
        <body>
            <app-repo></app-repo>
        </body> -->


      <!DOCTYPE html>
      <html>
      <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
      </head>
      <body>
          <div class="main-header">
              <h1 style="text-align:center" class="header">
                Welcome to {{ title }}
              </h1>
              </div>
          <app-repo></app-repo>
      </body>
      </html>
        
        

